@import 'src/assets/theme/font.scss';
@import 'src/assets/theme/color.scss';

.content-wrapper {
  padding: 0 16px;
}

.chain-wrapper {
  margin-bottom: 40px;
}

.chain-text {
  margin-right: 8px;
  font-size: 14px;
  line-height: 22px;
  color: $secondary-text;
  @extend .font-family-regular;
}

.QR-code-wrapper,
.address-wrapper,
.info-wrapper {
  margin-bottom: 24px;
}

.QR-code {
  width: 164px;
  height: 164px;
  background-color: #eee;
}

.address-wrapper {
  padding: 16px 12px;
  border: 1px solid #eee;
  border-radius: 6px;
}
