@import '/src/assets/theme/font.scss';

.form-item-wrapper {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: $normal-bg;
}

.form-item-value {
  color: $primary-text;
  font-size: 16px;
  line-height: 1.5;
  @extend .font-family-medium;
  &::placeholder {
    color: #D4D4D4;
    @extend .font-family-medium;
  }
}
