@import '/src/assets/theme/color.scss';

.network-select {
  width: 100%;
  .network-select-tip {
    padding: 12px;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    border-radius: 6px;
    background: $normal-bg;
    .network-select-tip-icon {
      width: 16px;
      height: 16px;
      min-width: 16px;
      min-height: 16px;
    }
    .network-select-tip-text {
      color: $secondary-text;
      font-size: 12px;
      font-weight: normal;
    }
  }
}

.network-select-for-mobile {
  .network-select-tip {
    margin-bottom: 12px;
  }
  .network-select-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    .network-card-selected {
      border: 1px solid $brand;
    }
  }
}

.network-select-for-web {
  .network-select-list {
    .network-card-selected {
      background: $hover-bg;
    }
  }
}
