@mixin font-family-semibold-mixin {
  font-weight: bold;
  font-family: Roboto-Bold, PingFangSC-Semibold, PingFang SC, sans-serif;
}

@mixin font-family-medium-mixin {
  font-weight: 500;
  font-family: Roboto-Medium, PingFangSC-Medium, PingFang SC, sans-serif;
}

@mixin font-family-regular-mixin {
  font-weight: 400;
  font-family: Roboto-Regular, PingFangSC-Regular, PingFang SC, sans-serif;
}

.font-family-semibold {
  @include font-family-semibold-mixin;
}
.font-family-medium {
  @include font-family-medium-mixin;
}
.font-family-regular {
  @include font-family-regular-mixin;
}
